.avatar {

  width:100%;
  margin-top: inherit;
  border-radius: inherit;
  border: 0;
  transition: none;
  box-shadow: 0 0 black;
}

@media screen and (max-width: 800px) {

    .avatar {
      top:inherit;
      position: absolute;
      left: 1rem;
      width: 7rem;
      height: 3rem;
      margin-top: 0;
    }

    .logo-holder {
      margin-bottom:30px;
    }
}

.avatar:hover {
  transform:inherit;
}

.site-header {
  padding:0;
}

a.logo {
  opacity:1;
}


.main {
  max-width:55rem;
}

@media screen and (min-width: 800px) {
  .post-detail .post-cover {

      width: 100%;
      max-height: 40vw;
      position: relative;
      top: 50%;
      object-fit:cover;

  }
}

@media screen and (max-width: 800px) {
  .post-detail .post-cover {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    object-fit:cover;
    border-radius:0;
    margin:0 -1rem
  }
}

.post-content .portrait {
  margin:1rem 2rem;
  float:left;
  clear:left;
}

.post-content .portrait img {
  margin:0;
}

.break {
  clear:both;
}

.post-detail #disqus_thread {
  clear:both;
  padding-top:1rem;
}



